<div class="modal-content rounded-4 shadow">
  <div class="modal-header p-5 pb-4 border-bottom-0">
    <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
    <h1 class="fw-bold mb-0 fs-2">Sign up for free</h1>
    <button (click)="cancel()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body p-5 pt-0">
    <form [formGroup]="registerForm" autocomplete="off" (ngSubmit)="registerForm.valid && register()">
      
      <div class="mb-3">
        <label style="margin-right: 10px;">I am a: </label>
        <label class="form-check-label">
          <input type="radio" class="form-check-input" value="male" formControlName="gender"> Male
        </label>
        <label class="form-check-label">
          <input type="radio" class="form-check-input ms-3" value="female" formControlName="gender"> Female
        </label>
      </div>

      <div class="form-floating mb-3">
        <app-text-input [id]="'floatingUsername'" [type]="'text'" [formControl]="$any(registerForm.controls['username'])" [label]="'Username'"></app-text-input>
      </div>
      <div class="form-floating mb-3">
        <app-text-input [id]="'floatingKnownAs'" [formControl]="$any(registerForm.controls['knownAs'])" [label]="'Known As'"></app-text-input>
      </div>
      <div class="form-floating mb-3">
        <app-text-input id="floatingPassword" [type]="'password'" [formControl]="$any(registerForm.controls['password'])" [label]="'Password'"></app-text-input>
      </div>
      <div class="form-floating mb-3">
        <app-text-input id="floatingConfirmPassword" [type]="'password'" [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Confirm Password'"></app-text-input>
      </div>

      <!-- <div class="row" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">{{error}}</li>
        </ul>
    </div> -->

      <button class="mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>
      <br>
      <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
      <!-- <hr class="my-4">
        <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
        <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-3" type="submit">
          <svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter"></use></svg>
          Sign up with Twitter
        </button>
        <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
          <svg class="bi me-1" width="16" height="16"><use xlink:href="#facebook"></use></svg>
          Sign up with Facebook
        </button>
        <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
          <svg class="bi me-1" width="16" height="16"><use xlink:href="#github"></use></svg>
          Sign up with GitHub
        </button> -->
    </form>
  </div>
</div>