<ng-container>
    <button class="btn btn-outline-primary me-3" (click)="getServerError()">Test server error</button>
    <button class="btn btn-outline-primary me-3" (click)="getNotFoundError()">Test not found error</button>
    <button class="btn btn-outline-primary me-3" (click)="getBadRequestError()">Test bad request error</button>
    <button class="btn btn-outline-primary me-3" (click)="getAuthError()">Test auth error</button>
    <button class="btn btn-outline-primary me-3" (click)="getValidaitonError()">Test validation error</button>

    <div class="row mt-5" *ngIf="_validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of _validationErrors">
                {{error}}
            </li>
        </ul>
    </div>
</ng-container>