<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a class="nav-link px-2 link-light" id="navbar-brand" routerLink="/home">Pylypenko Mykhailo</a></li>
        <li><a class="nav-link px-2 link-secondary" routerLinkActive="link-light" routerLink="/home">Home</a></li>
        <ng-container *ngIf="(accountService.currentUser$ | async) as User">
          <li><a class="nav-link px-2 link-secondary" routerLinkActive="link-light"
              routerLink="/apartments">Apartmets</a></li>
          <li><a class="nav-link px-2 link-secondary" routerLinkActive="link-light"
              routerLink="/rented-apartments">Rented Apartments</a></li>
        </ng-container>
      </ul>

      <div *ngIf="(accountService.currentUser$ | async) as User" dropdown class="dropdown text-end">
        <a dropdownToggle class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="https://github.com/Katyamyronets.png" alt="user" width="32" height="32" class="rounded-circle">
        </a>
        <ul *dropdownMenu class="dropdown-menu text-small mt-2">
          <li><a class="dropdown-item" routerLink="/profile/edit">Apartments</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
        </ul>
      </div>

      <div *ngIf="!(accountService.currentUser$ | async)" class="text-end">
        <button (click)="login()" type="button" class="btn btn-sm btn-outline-secondary me-2">Login</button>
        <button (click)="register()" type="button" class="btn btn-sm btn-outline-secondary">Sign-up</button>
      </div>
    </div>
  </div>
</header>
