<div class="container mt-5">
    <div style="text-align: center;" *ngIf="!(registerMode || loginMode)">
        <h1>Find your apartment</h1>
        <p>Home page. Sign up to view all avaliable apartments</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-lg btn-primary me-2">Sign up</button>
            <button (click)="loginToggle()" class="btn btn-lg btn-primary me-2">Login</button>
            <button class="btn-lg btn btn-primary me-2">Learn more</button>
        </div>
    </div>

    <div class="container" *ngIf="registerMode">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>


    <div class="container" *ngIf="loginMode">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-login (cancelLogin)="cancelLoginMode($event)"></app-login>
            </div>
        </div>
    </div>
</div>
